.slide {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: left;
  display: inline-block;
/* 
  text-align: center;
  background: #d2d2d2;
 */
}

/* 
.slide {
  width:200px;
  height:100%;
  position:absolute;
  right:-200px;
  top:0;
  background:#d2d2d2;
}
 */

/* 
#close {
  position:absolute;
  right:10px;
  top:10px;
  z-index:10;
  display:none;
}
 */

#right-content {
	text-align: center;
	width: 100%;
/*	
  position:absolute;
  right:0;
  top:0;
  overflow:hidden;
  width:200px;
  height:100%; 
*/
}

/*mobile first */
.pathways-desktop {
	display: none;
}
.pathways-mobile {
	display: block;
}
.pathways-mobile img {
	width: 100%;
	margin: 0;
	padding: 0;
	line-height: 0;
}


@media only screen and (min-width: 768px) {
/* This is for desktop display of 4 columns of icons*/
.pathways-desktop {
	display: block;
}

.pathways-desktop img {
	margin: .5rem;
	max-width: 22%;
}
.pathways-mobile {
	display: none;
}

} /* <-- This is closing the media query*/

/* https://stackoverflow.com/questions/43446745/onclick-changing-content-on-div */