.slide {
  width:200px;
  height:100%;
  position:absolute;
  right:-200px;
  top:0;
  background:#d2d2d2;
}

#close {
  position:absolute;
  right:10px;
  top:10px;
  z-index:10;
  display:none;
}

#right-content {
  /* position:absolute;
  right:0;
  top:0; 
  overflow:hidden;
  width:200px;
  height:100%;*/
}

/* https://stackoverflow.com/questions/43446745/onclick-changing-content-on-div */