.slide {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: left;
  display: inline-block;
/* 
  text-align: center;
  background: #d2d2d2;
 */
}

/* 
.slide {
  width:200px;
  height:100%;
  position:absolute;
  right:-200px;
  top:0;
  background:#d2d2d2;
}
 */

/* 
#close {
  position:absolute;
  right:10px;
  top:10px;
  z-index:10;
  display:none;
}
 */

#right-content {
	text-align: center;
	width: 100%;
/*	
  position:absolute;
  right:0;
  top:0;
  overflow:hidden;
  width:200px;
  height:100%; 
*/
}

/* https://stackoverflow.com/questions/43446745/onclick-changing-content-on-div */

/*mobile first */
.pathways-desktop {
	display: none;
}
.pathways-mobile {
	display: block;
	line-height: 0 !important;
}
.pathways-mobile img {
	width: 100%;
	margin: 0;
	padding: 0;
	line-height: 0;
}

.gpunit .unit {
	padding-top: 1rem !important;
}

/*These classes are for the areas of study pages on mobile (defaults)*/

.AoS-main {
	padding-top: unset;
}

.FlexibleLandingContent {
	margin-top: -3rem;
}

.unit.FlexibleContent {
	padding-top: 0rem;
}


@media only screen and (min-width: 680px) {
/* This is for desktop display of 4 columns of icons*/
.pathways-desktop {
	display: inline-block;
	line-height: 0;
}

.pathways-desktop img {
	margin: .5rem;
	max-width: 22%;
	cursor: pointer;
}
.pathways-mobile {
	display: none;
}

.gpunit .unit {
	padding-top: 1rem !important;
}

/*These classes are for the areas of study pages on desktop */

.AoS-main {
	padding-top: 4rem;
}

.FlexibleLandingContent {
	margin-top: -5rem;
}

.unit.FlexibleContent {
	padding-top: 0rem;
}

.spaceman::after {
	content: "";
	clear: both;
	display: table;
}

.FlexibleLandingContent .inner {
	padding: 10% 10%;
}

} /* <-- This is closing the media query*/